.MMM-soccer .soccerWrapper {
    #display: flex;
}

.MMM-soccer .icon {
    width: 24px;
    height: 24px;
}

.MMM-soccer .no-color {
    -webkit-filter: grayscale(100%);
}

.MMM-soccer .name {
    text-align: left;
}

.MMM-soccer .matchDay {
    text-align: center;
    margin-bottom: 10px;
}

.MMM-soccer .games {
    table-layout: fixed;
    margin-bottom: 20px;
}

.MMM-soccer .games .status {
    padding: 5px;
    border: 4px solid black;
    background-color: #99aacc;
    color: black;
    border-radius: 10px;
    text-align: center;
    font-size: 100%;
    width: 50px;
}

.MMM-soccer .games .IN_PLAY {
    color: #fdfd96;
}

.MMM-soccer .games .status.IN_PLAY {
    background-color: #fdfd96;
    color: black;
}

.MMM-soccer .logo {
    width: 25px;
    padding: 0px 3px;
    vertical-align: middle;
}

.MMM-soccer .centered-row {
    vertical-align: middle;
}

.MMM-soccer .centered {
    text-align: center;
}

.MMM-soccer .focused {
    font-weight: bold;
}

.MMM-soccer .name .IN_PLAY {
    color: yellow;
}


.MMM-soccer .table {
    margin: 10px 0px;
}

.MMM-soccer-blur {
    -webkit-filter: blur(2px) brightness(50%);
}

.MMM-soccer .modal {
    position: fixed;
    text-align: left;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.MMM-soccer .modal ul {
    margin: 0;
}

.MMM-soccer .homeTeam {
    text-align: right;
}

.MMM-soccer .matchName {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.MMM-soccer .matchName.winner {
    font-weight: bold;
    #text-decoration: underline;
}

.MMM-soccer svg {
    background-color: #000;
}
