<div>
    <div class="{% if isModalActive %}MMM-soccer-blur{% endif %}">
        {% if loading %}
            {{'LOADING' | translate}}
        {% else %}
            <header>{{competitionName}}</header>
            <div class="xsmall">{{season}}</div>
			<table class="xsmall games">
                <tbody>
                    {% for index in range(0, matches.length) %}
                    <tr class="centered-row">
                            <td class="name">{{matches[index].homeTeam.name}}</td>
                            {% if config.logos %}
                                <td><img class="icon {% if not config.colored %}no-color{% endif %}" src=""/></td>
                            {% endif %}
                            <td>
								{% if matches[index].status == "ACTIVE" %}{{matches[index].score.fullTime.homeTeam}} - {{matches[index].score.fullTime.awayTeam}}
								{% else %}0 - 0
								{% endif %}
							</td>
							{% if config.logos %}
                                <td><img class="icon {% if not config.colored %}no-color{% endif %}" src=""/></td>
                            {% endif %}
                            <td class="name">{{matches[index].awayTeam.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="xsmall table">
                <thead>
                    <tr class="row">
                        <th></th>
                        {% if config.logos %}
                            <th></th>
                        {% endif %}
                        <th class="name">{{'TEAM' | translate}}</th>
                        <th class="centered"><i class="fas fa-chart-line"/></th>
                        <th class="centered"><i class="fas fa-futbol"/></th>
                    </tr>
                </thead>
                <tbody>
                    {% for index in range(boundaries.firstTeam, boundaries.lastTeam) %}
                        <tr class="centered-row {% if index === boundaries.focusTeamIndex %}bright{% endif %}" style="{{loop.index | fade(boundaries.focusTeamIndex)}}">
                            <td>{{standings[0].table[index].position}}</td>
                            {% if config.logos %}
                                <td><img class="icon {% if not config.colored %}no-color{% endif %}" src="{{standings[0].table[index].team.crestUrl}}"/></td>
                            {% endif %}
                            <td class="name">{{standings[0].table[index].team.name}}</td>
                            <td class="centered">{{standings[0].table[index].points}}</td>
                            <td class="centered">{{standings[0].table[index].goalDifference}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
 

   {% if isModalActive %}
        <div class="modal">
            {% if modal.standings %}
                <table class="small table">
                    <thead>
                        <tr class="row">
                            <th></th>
                            {% if config.logos %}
                                <th></th>
                            {% endif %}
                            <th class="name">{{'TEAM' | translate}}</th>
                            <th class="centered"><i class="fas fa-chart-line"/></th>
                            <th class="centered"><i class="fas fa-futbol"/></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in standings[0].table %}
                            <tr class="centered-row {% if loop.index === boundaries.focusTeamIndex %}bright{% endif %}">
                                <td>{{entry.position}}</td>
                                {% if config.logos %}
                                    <td><img class="icon {% if not config.colored %}no-color{% endif %}" src={{entry.team.crestUrl}}/></td>
                                {% endif %}
                                <td class="name">{{entry.team.name}}</td>
                                <td class="centered">{{entry.points}}</td>
                                <td class="centered">{{entry.goalDifference}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1 class="medium">{{competitionName}} - {{'COMMAND_LIST' | translate}}</h1>
                <div>{{'MODE' | translate}}: {{voice.mode}}</div>
                <div>{{'VOICE_COMMANDS' | translate}}</div>
                <ul>
                    {% for sentence in voice.sentences %}
                        <li>{{sentence}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
</div>
