.MMM-soccer .icon {
    width: 24px;
    height: 24px;
    -webkit-filter: grayscale(100%);
}

.MMM-soccer .name {
    text-align: left;
}

.MMM-soccer h4 {
    margin-bottom: 10px;
}

.MMM-soccer .table {
    border-spacing: 2px;
}

.MMM-soccer .centered-row {
    vertical-align: middle;
}

.MMM-soccer .centered {
    text-align: center;
}

.MMM-soccer-blur {
    -webkit-filter: blur(2px) brightness(50%);
}

.MMM-soccer .modal {
    position: fixed;
    text-align: left;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.MMM-soccer .modal ul {
    margin: 0px;
}