.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    -webkit-filter: grayscale(100%);

}

.row {
    display: flex;
    align-items: center;
    margin: 4px 0px;
}

.keys {
    font-weight: bold;
    justify-content: flex-end;
}

.key-icon {
    height: 20px;
    width: 20px;
    -webkit-filter: invert(100%) grayscale(100%);
}

.name {
    width: 210px;
    text-align: left;
}

.details {
    display: flex;
    justify-content: space-between;
    width: 50px;
}

h4 {
    margin-bottom: 10px;
}